 body{
	margin: 0;
	font-family: sans-serif;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
button, input:focus{
	outline: none;
}
section{
	padding-top: 50px;
	padding-bottom: 50px;
}
/* main */
.main{
	background: url(../img/main-bg.png) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.main-title{
	color: #ffffff;
	font-size: 50px;
	font-weight: 400;
	line-height: 60px;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2.01px;
}
.main-subtitle{
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
}
.main-form{
	width: 320px;
	border: 1px solid rgba(0,0,0,.8);
	background-color: rgba(0,0,0,.4);
	border-radius: 20px;
	margin: 0 auto;
	padding: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.main-form__title{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}
.main-form_input{
	width: 100%;
	height: 50px;
	padding-left: 20px;
	border: none;
	margin-bottom: 20px;
}
.main-form_btn{
	width: 80%;
	height: 50px;
	font-size: 20px;
	border: none;
}
.main-form_btn:hover{
	cursor: pointer;
}
/* features */
.features{
	background-color: rgba(0,0,0,.05);
}
.features-block{
	text-align: center;
}
.features-block__title{
	font-weight: 700;
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 15px;

}
/* images */
.images-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.images-slider, .images-content{
	width: 50%;
}
.images-content{
	padding-left: 20px;
}
.images-content__title{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 12px;
}
.images-content__descr{
	font-size: 16px;
}


/* Media*/
@media (max-width: 1199px) {
	.main-title {
		font-size: 42px;
	}
	.features-block__descr {
		font-size: 14px;
	}
}

@media (max-width: 991px) {
	.main-title {
		font-size: 29px;
		line-height: 40px;
		margin-top: 60px;
	}

	.main-subtitle {
		font-size: 16px;
	}

	.features-block {
		margin: 0 auto;
		margin-bottom: 20px;
		max-width: 270px;
	}
	.features-block__title {
    margin-top: 8px;
		margin-bottom: 8px;
	}

	.images-wrap {
    flex-direction: column-reverse;
}

.images-slider, .images-content {
    width: 100%;
}

.images-content {
	margin-bottom: 20px;
	padding-left: 0px;
}
.main-form {
	width: 100%;
}
}


@media (max-width: 767px) {
	.main, .images{
text-align: center;
	}

	.main-form {
		width: 80%;
		margin-top: 30px;
	}
	.main-form {
		width: 95%;
	}
}


@media (max-width: 575px) {
	.main-title {
		font-size: 22px;
		line-height: 30px;
		margin-top: 0px;
	}

	.main-subtitle {
		font-size: 14px;
	}
}
